<!--
<a href="#/postqst"><button>POST</button></a>
<div ng-repeat="qst in qsts">
    <hr>
    <div ng-click='goQst(qst._id)'><a>title:{{qst.title}}</a></div>
    <div>u_name:{{qst.u_name}}</div>
</div>
-->

<header ng-include="'/app/view/header.html'"></header>
<div class="container qstPage-padding">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post" ng-repeat="qst in qsts">
        <h2 class="blog-post-title" ng-click='goQst(qst._id)'><a>{{qst.title}}</a></h2>
        <p class="blog-post-meta">
            <span class="pull-right">{{qst.create_time | date:"MM/dd/yyyy"}} by <a href="#">{{qst.username}} (level: {{qst.level}})</a></span>
        </p>
          <hr>
          
      </div><!-- /.blog-post -->
        


<!--分页
        <nav class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
-->
        <hr>
        
    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module">
        <h4>Top questions</h4>
        <ol class="list-unstyled">
          <li ng-repeat="topQst in topQsts | limitTo : 3"><a ng-click='goQst(topQst._id)' href="#">{{topQst.title}}</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Top users</h4>
        <ol class="list-unstyled">
          <li ng-repeat="user in topUsers"><a href="#">{{user.username}} (level: {{user.level}})</a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <div class="mastfoot">
    <div class="inner">
        <footer ng-include="'/app/view/footer.html'"></footer>
    </div>
  </div> 
</div>
