<!--
Question:
<div>title:{{quest.title}}</div>
<div>content:{{quest.content}}</div>
<div>u_name:{{quest.u_name}}</div>
<hr>
Answers:
<div ng-repeat="asw in asws">
    <div>{{asw.title}}</div>
</div>
<hr>
Post answer:
<div>
    content<input type="text" ng-model="newasw.content">
    <br>
    <button type="submit" ng-click='doPostAsw()'>SUBMIT</button>
</div>-->
<!--
<a href="#/postqst"><button>POST</button></a>
<div ng-repeat="qst in qsts">
    <hr>
    <div ng-click='goQst(qst._id)'><a>title:{{qst.title}}</a></div>
    <div>u_name:{{qst.u_name}}</div>
</div>
-->

<header ng-include="'/app/view/header.html'"></header>
<div class="container qstPage-padding">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">{{quest.title}}</h2>
        <p class="blog-post-meta">
            <span>{{quest.create_time | date:"MM/dd/yyyy"}} by <a href="#">{{quest.u_name}}</a></span>
            <span class="pull-right">level  {{quest.u_level}}</span>
        </p>
          <hr>
        <p>{{quest.content}}</p>
          
        <p class="text-right">
            <button type="button" class="btn btn-default">answer</button>
        </p>
      </div><!-- /.blog-post -->
        
      <div class="blog-post" ng-controller="AswController">
        <div ng-repeat="aws in answs">
        <blockquote>
            <p>{{aws.content}}</p>
        
            <p class="blog-post-meta text-right">Answered by <a href="#">{{aws.u_name}} (level {{aws.u_level}}) </a></p>
            <p class="blog-post-meta text-right">{{aws.create_time | date:"MM/dd/yyyy"}}</p>
            <p class="blog-post-meta text-right">
                <label class="radio-inline">
                  <input type="radio" name="rateStar" id="rateStar1" value=1> 1
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rateStar" id="rateStar2" value=2> 2
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rateStar" id="rateStar3" value=3> 3
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rateStar" id="rateStar4" value=4> 4
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rateStar" id="rateStar5" value=5> 5
                </label>&nbsp;
                <button type="button" class="btn btn-default">rate</button>
            </p>
        </blockquote>
        <hr>

        <div>
            <div class="qst-comt" ng-repeat="cmt in aws.comnts">
                <p class="qst-comt-fs">{{cmt.content}}</p>
                <p class="text-right">Commented by<a href="#">{{cmt.u_name}} (level {{cmt.u_level}})</a></p>
                <p class="blog-post-meta text-right">{{cmt.create_time | date:'MM/dd/yyyy'}}</p>
            </div>
            <p class="text-right" ng-if="readyReply==false">
                <button type="button" class="btn btn-default" ng-click="showReplyPanel()">reply</button>
            </p>
              <form class="form-horizontal" ng-if="readyReply==true">
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <textarea class="form-control" rows="5" placeholder="Content" ng-model="comment.content"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default pull-right" ng-click="hideReplyPanel()">cancel</button>
                      <button type="submit" class="btn btn-default pull-right postqst-button" ng-click="doCmtPost(aws._id)">post</button>    
                    </div>
                  </div>
              </form>
          </div>
        </div>
      </div><!-- /.blog-post -->

<!--分页
        <nav class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
-->
        <hr>
        
        <form class="form-horizontal" ng-controller="AswPostController">
          <h2>Your Answer:</h2>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <textarea class="form-control" rows="5" placeholder="Content" ng-model="answer.content"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default pull-right postqst-button" ng-click="doPost()">post</button>    
            </div>
          </div>
        </form>
    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>All the answers are ranked by our self-defined algorithm.</p>
      </div>
      <div class="sidebar-module">
        <h4>Top questions</h4>
        <ol class="list-unstyled">
          <li><a href="#">q1</a></li>
          <li><a href="#">q2</a></li>
          <li><a href="#">q3</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Top users</h4>
        <ol class="list-unstyled">
          <li><a href="#">t</a></li>
          <li><a href="#">t</a></li>
          <li><a href="#">t</a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <div class="mastfoot">
    <div class="inner">
        <footer ng-include="'/app/view/footer.html'"></footer>
    </div>
  </div>
</div>
