
<header ng-include="'/app/view/header.html'"></header>
<div class="container qstPage-padding">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post" ng-repeat="user in topUsers">
        <p class="blog-post-meta">
            <span>{{user.username}}</span>
            <span class="pull-right">level  {{user.level}}</span>
        </p>
          <hr>
          
      </div><!-- /.blog-post -->
        
        <hr>
    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module">
        <h4>Top questions</h4>
        <ol class="list-unstyled">
          <li ng-repeat="topQst in topQsts | limitTo : 3"><a ng-click='goQst(topQst._id)' href="#">{{topQst.title}}</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Top users</h4>
        <ol class="list-unstyled">
          <li ng-repeat="user in topUsers | limitTo : 3"><a href="#">{{user.username}}</a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <div class="mastfoot">
    <div class="inner">
        <footer ng-include="'/app/view/footer.html'"></footer>
    </div>
  </div> 
</div>
